---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";
import Ida1 from "../assets/images/Portrait_1.png";
import Ida2 from "../assets/images/Portrait_2.png";
import Eye1 from "../assets/images/facepuzzle/eye_1.png";
import Eye2 from "../assets/images/facepuzzle/eye_2.png";
import Mouth1 from "../assets/images/facepuzzle/mouth_1.png";
import Mouth2 from "../assets/images/facepuzzle/mouth_2.png";
---

<body>
  <MainLayout title="Ida Hallbæck | Presentation">
    <div class="max-w-screen-xl mx-auto px-2">
      <section id="Hero">
        <div class="p-4 sm:col-span-2"></div>
        <div>
          <h1 class="p-4 mt-10 lg:text-center lg:text-8xl text-7xl pb-20">
            <span class="h1_1 opacity-0">Innovative.</span>
            <br />
            <span class="h1_2 opacity-0 lg:ml-40 ml-24">Creative.</span>
            <br />
            <span class="h1_3 opacity-0 lg:ml-80 ml-28">Reflective.</span>
          </h1>
        </div>
      </section>

      <section id="Introduction">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
          <div
            class="flex items-center justify-center col-span-1 sm:order-2 pb-16"
          >
            <div x-data="{ animate: false }" class="grid grid-cols-2">
              <Image
                src={Eye1}
                alt="Facepuzzle"
                class="w-3/4 lg:ml-20 slide-in_up"
                style="z-index: 2;"
              />
              <Image
                src={Eye2}
                alt="Facepuzzle"
                class="w-3/4 lg:mt-20 slide-in_right"
              />

              <Image
                src={Mouth1}
                alt="Facepuzzle"
                class="w-3/4 lg:mt-10 lg:ml-20 slide-in_down"
                style="z-index: 1;"
              />
              <Image
                src={Mouth2}
                alt="Facepuzzle"
                class="w-3/4 slide-in_left"
              />
            </div>
          </div>

          <p class="text-2xl leading-relaxed">
            Welcome to my professional profile, where I offer insight into my
            identity as a designer and the motivations driving my work. <br
            /><br /> My passion involves exploring diverse visual components and
            interactive methods, with a strong emphasis on creating engaging encounters
            for all users and advocating for accessibility and inclusivity in web
            design and beyond. <br /><br />
            <span class="text-[#B93238]"
              >Studying in the 3rd semester of multimedia design at Copenhagen
              School of Design and Technology, I am currently seeking internship
              opportunities to refine my skills and pursue growth.</span
            >
          </p>
        </div>
      </section>

      <section id="Passion">
        <div id="Skills" class="flex lg:justify-end">
          <div>
            <h2 class="text-4xl pt-5 lg:text-5xl lg:text-left>">My approach</h2>
            <p class="py-4 text-xl">
              I thrive on challenges, particularly in digital design, user
              interfaces, and concept development. Proficient in
              industry-standard tools like Figma and Illustrator, I continuously
              refine my skills to ensure the highest quality work. Whether it's
              managing projects, conducting research, prototyping, or crafting
              visual narratives, my approach is always simple, structured, and
              centered on the user experience.
            </p>
          </div>
        </div>

        <section id="About">
          <div>
            <h2 class="text-4xl pt-5 lg:text-5xl lg:text-left">How I design</h2>
            <p class="py-4 text-xl">
              My creativity drives me to find innovative solutions to
              challenges. <br /> I am proactive, creative, and a strong team player.
              <br />
              <br /> I appreciate all sensory experiences such as art, music, poetry,
              cooking. <br /> I consider myself a resourceful individual with a committed
              work ethic.
            </p>
          </div>
        </section>
      </section>

      <section id="Info Card" class="pt-12">
        <div class="grid grid-cols-1 sm:grid-cols-3 gap-4">
          <div class="col-span-1">
            <h3 class="text-4xl lg:text-5xl pb-3">Skills & Tools</h3>
            <div class="ml-4 text-lg pb-6">
              <li>Adobe Illustrator</li>
              <li>Adobe InDesign</li>
              <li>Adobe Photoshop</li>
              <li>Adobe Premiere Pro</li>
              <li>Adobe XD</li>
              <li>Figma</li>
              <li>Alphine and Tailwind</li>
              <li>HTML, CSS and JavaScript</li>
              <li>Interface Design (UI)</li>
              <li>Search Engine Optimization (SEO)</li>
              <li>Design Thinking</li>
              <li>UX Research</li>
              <li>SCRUM and Project Management</li>
            </div>
          </div>

          <div class="hidden sm:block">
            <Image src={Ida2} alt="Portrait" class="pb-8" />
          </div>

          <div class="col-span-1 md:ml-20">
            <h3 class="text-4xl lg:text-5xl pb-3">Details</h3>
            <ul class="list-none text-lg">
              <li><strong>Name:</strong> Ida Lærke Hallbæck-Andersen</li>
              <li><strong>Location:</strong> Copenhagen, Denmark</li>
              <li><strong>Programme:</strong> APD in Multi Media Design</li>
              <li>
                <strong>Education:</strong> KEA – Copenhagen School of Design and
                Technology
              </li>
              <li><strong>Date of birth:</strong> November 14th, 1995</li>
            </ul>
            <br /><br />
            <h3 class="text-4xl lg:text-5xl pb-3">Work</h3>
            <ul class="list-none text-lg">
              <li class="hover:text-[#B93238]">
                <a href="http://idahallback.dk/portfoliosite" target="_blank"
                  >– <strong>1st</strong> Semester Portfolio</a
                >
              </li>
              <li class="hover:text-[#B93238] pb-8">
                <a href="https://idha-portfolio.netlify.app/" target="_blank"
                  >– <strong>2nd</strong> Semester Portfolio</a
                >
              </li>
            </ul>
            <div class="sm:hidden">
              <Image src={Ida2} alt="Portrait" />
            </div>
          </div>
        </div>

        <script>
          document.addEventListener("DOMContentLoaded", function () {
            const spans = document.querySelectorAll(".opacity-0");
            let delay = 0;

            spans.forEach((span) => {
              setTimeout(() => {
                span.classList.remove("opacity-0");
                span.classList.add("opacity-100");
              }, delay);
              delay += 500;
            });
          });
        </script>

        <style>
          .slide-in_left {
            animation: slideInLeft 4s infinite alternate;
          }

          @keyframes slideInLeft {
            from {
              transform: translateX(-100%);
            }
            to {
              transform: translateX(0);
              opacity: 1;
            }
          }

          .slide-in_right {
            animation: slideInRight 4s infinite alternate;
          }

          @keyframes slideInRight {
            from {
              transform: translateX(200%);
            }
            to {
              transform: translateX(0);
              opacity: 1;
            }
          }

          .slide-in_up {
            animation: slideInUp 4s infinite alternate;
          }

          @keyframes slideInUp {
            from {
              transform: translateY(100%);
            }
            to {
              transform: translateY(0);
              opacity: 1;
            }
          }

          .slide-in_down {
            animation: slideInDown 4s infinite alternate;
          }

          @keyframes slideInDown {
            from {
              transform: translateY(-100%);
            }
            to {
              transform: translateY(0);
              opacity: 1;
            }
          }
        </style>
      </section>
    </div>
  </MainLayout>
</body>
