---
import { Image } from "astro:assets";
import Nicolai from "../assets/images/portfolio/nicolailorenzen.png";
import Azad from "../assets/images/portfolio/azad.png";
import CA from "../assets/images/portfolio/ca.png";
import UX from "../assets/images/portfolio/ux.png";
import DCD from "../assets/images/portfolio/dcd.png";
import FungiKids from "../assets/images/portfolio/fungi-kids.png";
import Konrad from "../assets/images/portfolio/KonradVSKragerne.png";
import Exam from "../assets/images/portfolio/exam.png";
---

<div class="p-5 mt-5 lg:mt-10">
  <h1 class="text-[#B93238] lg:text-center text-5xl lg:text-6xl pb-10 lg:pb-20">
    Work
  </h1>
  <section>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-10 lg:gap-20">
      <div class="col-span-1 zoom">
        <div class="overflow-hidden">
          <a href="https://nicolailorenzen.netlify.app/" target="_blank">
            <Image src={Nicolai} alt="Nicolai Lorenzen Photography" />
          </a>
        </div>
        <a href="https://nicolailorenzen.netlify.app/" target="_blank">
          <h2 class="text-2xl mt-2 py-3">Nicolai Lorenzen Photography</h2>
        </a>
        <figcaption class="prose text-lg text-[#501e1f]">
          For our second semester's exam project, we had the opportunity to work
          with Nicolai Lorenzen, a Copenhagen-based freelance photographer. My
          team and I worked on redesigning his website and enhancing his digital
          presence. Our main objective was to attract more private clients while
          preserving his unique style. We received excellent responses from both
          the client and our teachers.
        </figcaption>
      </div>

      <div class="zoom">
        <div class="overflow-hidden">
          <a href="https://azadjewls.netlify.app/index.html" target="_blank">
            <Image src={Azad} alt="Azad Demir Jewelry" />
          </a>
        </div>
        <a href="https://azadjewls.netlify.app/index.html" target="_blank">
          <h2 class="text-2xl mt-2 py-3">Azad Demir Jewelry</h2>
        </a>
        <figcaption class="prose text-lg text-[#501e1f]">
          Azad Demir is a talented jewelry designer based in Copenhagen. Beyond
          his craftsmanship, Azad aims to challenge societal norms and biases
          regarding gender-specific jewelry. My team and I created his website
          featuring an extensive interview, as well as a promotional video that
          reflects Azad as a designer while presenting his professional
          portfolio and his jewelry.
        </figcaption>
      </div>

      <div class="col-span-1 zoom">
        <div class="overflow-hidden">
          <a href="https://ca-studiepartner.netlify.app/" target="_blank">
            <Image src={CA} alt="CA Insurance" />
          </a>
        </div>
        <a href="https://ca-studiepartner.netlify.app/" target="_blank">
          <h2 class="text-2xl mt-2 py-3">CA – Unemployment Insurance Fund</h2>
        </a>
        <figcaption class="prose text-lg text-[#501e1f]">
          We conceptualized a campaign targeting CA A-kasse's student partners
          and stakeholders. We redesigned CA's career partner website and
          created a campaign video for social media. Working with CA as a client
          provided insights into professional collaboration and the importance
          of visual identity.
        </figcaption>
      </div>

      <div class="zoom">
        <div class="overflow-hidden">
          <a href="https://ux-copenhagen.netlify.app/" target="_blank">
            <Image src={UX} alt="UX Copenhagen" />
          </a>
        </div>
        <a href="https://ux-copenhagen.netlify.app/" target="_blank">
          <h2 class="text-2xl mt-2 py-3">UX Copenhagen Conference</h2>
        </a>
        <figcaption class="prose text-lg text-[#501e1f]">
          My team and I developed a website that reflects the company's identity
          and their annual conference in a user-friendly manner. It was crucial
          that our design was accessible and competitive in order to attract
          visitors and persuade them to choose UX Copenhagen over other options.
        </figcaption>
      </div>

      <div class="col-span-1 zoom">
        <div class="overflow-hidden">
          <a href="https://fungi-kids.netlify.app/" target="_blank">
            <Image src={FungiKids} alt="FungiKids" />
          </a>
        </div>
        <a href="https://fungi-kids.netlify.app/" target="_blank">
          <h2 class="text-2xl mt-2 py-3">FungiKids</h2>
        </a>
        <figcaption class="prose text-lg text-[#501e1f]">
          My team and I developed a child-friendly design with easy navigation
          for the project FungiKids, aimed at educating 5th-grade students about
          mushrooms. We utilized information from the organisation Vild Mad to
          create an engaging platform. Our goal was to highlight the
          entertaining use of natural resources.
        </figcaption>
      </div>

      <div class="zoom">
        <div class="overflow-hidden">
          <a href="https://digitalcleanupday-site.netlify.app/" target="_blank">
            <Image src={DCD} alt="Digital Cleanup Day" />
          </a>
        </div>
        <a href="https://digitalcleanupday-site.netlify.app/" target="_blank">
          <h2 class="text-2xl mt-2 py-3">Digital Cleanup Day</h2>
        </a>
        <figcaption class="prose text-lg text-[#501e1f]">
          A fellow student and I worked on creating a Danish version of Digital
          Cleanup Day, focusing on digital waste. We built a sturdy website
          using Tailwind, Alpine, HTML and Astro. The product prioritizes
          sustainability, minimalist design, and accessibility. We designed the
          infographics and created a new identity for Digital Cleanup Day.
        </figcaption>
      </div>

      <div class="col-span-1 zoom">
        <div class="overflow-hidden">
          <a
            href="http://idahallback.dk/portfoliosite/index.html"
            target="_blank"
          >
            <Image src={Exam} alt="Portfolio exam" />
          </a>
        </div>
        <a
          href="http://idahallback.dk/portfoliosite/index.html"
          target="_blank"
        >
          <h2 class="text-2xl mt-2 py-3">First Semester Exam</h2>
        </a>
        <figcaption class="prose text-lg text-[#501e1f]">
          During my first-semester exam, I was tasked with developing a
          portfolio site showcasing my work from the first semester. I planned
          the process, carefully integrating the tools and themes explored
          throughout the semester to craft a polished digital product. <br /> The
          feedback I received from my teachers was exceptionally positive.
        </figcaption>
      </div>
      <div class="zoom">
        <div class="overflow-hidden">
          <a href="https://konrad-vs-kragerne.netlify.app/spil" target="_blank">
            <Image src={Konrad} alt="Konrad VS. Kragerne" />
          </a>
        </div>
        <a href="https://konrad-vs-kragerne.netlify.app/spil" target="_blank">
          <h2 class="text-2xl mt-2 py-3">Konrad vs. The Crows</h2>
        </a>
        <figcaption class="prose text-lg text-[#501e1f]">
          I independently created my own game using HTML, CSS, and JavaScript. <br
          /> I designed the game mechanics and graphics, planned the process, and
          used prototypes and diagrams to manage the development. This project expanded
          my skills and opened the door to more programming opportunities.
        </figcaption>
      </div>
    </div>
  </section>
</div>

<style>
  h1 {
    font-family: Rache;
  }

  h2 {
    font-family: Playfair;
    color: #501e1f;
  }

  h2:hover {
    color: #b93238;
    cursor: pointer;
  }

  img {
    cursor: pointer;
  }

  .zoom {
    overflow: hidden;
  }

  .zoom img {
    transition: transform 1s ease;
  }

  .zoom:hover img {
    transform: scale(1.04);
    cursor: pointer;
    opacity: 90%;
  }
</style>
